{% extends 'base.html' %}
{%block content%}
<head>
    <title>About Us</title>
    <link rel="icon" type="images/icon" href="cart.jpg">
    <!-- css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        p{
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            /* text-align: center; */
            color: grey;
            
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
}
        .Advantages{
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
        }
        li{
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            /* text-align: center; */
            color: grey;
        }
        
    </style>
    </head>
    <body>
    <img width="100%" height="600px" src="https://c1.wallpaperflare.com/preview/483/527/776/banana-tree-green-forest.jpg" alt="">
      <br><br>
    <img src="slider2.png" alt="bg img">
    <img width="100%" src="slider2.PNG" alt="bg image">

      <!-- aboutus para -->
    <h3 style="font-family: 'Times New Roman', Times, serif;">What is Tissue Culture ?</h3>
     
    <p>The propagation of a plant by using a plant part or single cell or group cell in a test tube under very controlled and hygienic conditions is called "Tissue Culture".</p>
    
    <h3 style="font-family: 'Times New Roman', Times, serif;">Status in India</h3>
    <p>Banana is a globally important fruit crop with 97.5 million tones of production. In India it supports livelihood of million of people. With total annual production of 16.91 million tones from 490.70 thousand ha., with national average of 33.5 T/ha. Maharashtra ranks first in production with 60 T/ha. Banana contributes 37% to total fruit production in India.</p>
    <p>Banana is one of the major and economically important fruit crop of Maharashtra. Banana occupy 20% area among the total area under crop in India. Maharashtra ranks second in area and first in productivity in India. Jalgaon is a major Banana growing district in Maharashtra which occupy 50,000 hectares area under Banana. But most of Banana is grown by planting suckers. The technology development in agriculture is very fast, it results in developing Tissue Culture Technique.</p>
    
    <h3 style="font-family: 'Times New Roman', Times, serif;">Agro Climate</h3>
    <p>Banana is basically a tropical crop, grows well in temperature range of 13ºC – 38ºC with RH regime of 75-85%. In India this crop is being cultivated in climate ranging from humid tropical to dry mild subtropics through selection of appropriate varieties like Grandnaine. Chilling injury occurs at temperatures below 12ºC. The normal growth of the banana begins at 18ºC, reaches optimum at 27ºC, then declines and comes to a halt at 38ºC. Higher temperature causes sun scorching. High velocity wind which exceeds 80 km phrs damages the crop.</p>

    <h3 style="font-family: 'Times New Roman', Times, serif;">Soil</h3>
    <p>Soil for banana should have good drainage, adequate fertility and moisture. Deep, rich loamy soil with pH between 6-7.5 are most preferred for banana cultivation. Ill drained, poorly aerated and nutritionally deficient soils are not suitable for banana. Saline solid, calcareous soil are not suitable for Banana cultivation. Avoided soil of low laying areas, very sandy & heavy black cotton with ill drainage.</p>

    <h3 style="font-family: 'Times New Roman', Times, serif;">Varieties</h3>
    <p>In India banana is grown under diverse conditions and production systems. Selection of varieties, therefore is based on a large number of varieties catering to various kinds of needs and situations. However, around 20 cultivars viz. Dwarf Cavendish, Robusta, Monthan, Poovan, Nendran, Red banana, Nyali, Safed Velchi, Basarai, Ardhapuri, Rasthali, Karpurvalli, Karthali and Grandnaine etc..</p>
    <p>Grandnaine is gaining popularity and may soon be the most preferred variety due to its tolerance to biotic stresses and good quality bunches. Bunches have well spaced hands with straight orientation of figures, bigger in size. Fruit develops attractive uniform yellow colour with better self life & quality than other cultivars.</p>

    <h3 style="font-family: 'Times New Roman', Times, serif;">Planting Material</h3>
    <p>Sword suckers weighing approximately 500-1000 gm are commonly used as propagating material. Suckers generally may be infected with some pathogens and nematodes. Similarly due to the variation in age and size of sucker the crop is not uniform, harvesting is prolonged and management becomes difficult.</p>
    <p>Therefore, in-vitro clonal propagation i.e. Tissue culture plants are recommended for planting. They are healthy, disease free, uniform and authentic. Properly hardened secondary seedlings are only recommended for planting.</p>
    <br>
    <img class="center" src="https://gms.ctahr.hawaii.edu/gs/handler/getmedia.ashx?moid=30282&dt=3&g=5" alt="">

    <ul class="Advantages">Advantages of Tissue Culture</ul>
    <li>True to the type of mother plant under well management.</li>
    <li>Pest and disease free seedlings.</li>
    <li>Uniform growth, increases yield.</li>
    <li>Early maturity of crop - maximum land use is possible in low land holding country like India.</li>
    <li>Round the year planting possible as seedlings are made available throughout the year.</li>
    <li>Two s uccessive ratoons are possible in a short duration which minimizes cost of cultivation</li>
    <li>No staggered harvesting.</li>
    <li>95% - 98% plants bear bunches.</li>
    <li>New varieties can be introduced and multiplied in a short duration.</li>

</body>
{%endblock%}