<footer class="page-footer font-small blue-grey lighten-5"">

    <div>
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <marquee direction="left"> <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks&nbsp <i class="fa fa-envelope"></i>Amazon@gmail.com</h6>
            </marquee>
        </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-6 col-lg-7 text-center text-md-right"> -->
  
           
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-0">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
          <img style="height: 180px;width: 130px;" src="https://image.shutterstock.com/image-vector/banana-fruits-vector-illustration-600w-305337941.jpg" alt="">
          <h3 style="font-family: 'Times New Roman', Times, serif;color: grey;">Tissue Culture</h3>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Banana Tissue</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Papaya Tissue</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Flower Tissue</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <div>
            <p>
              <p><a class="fa fa-facebook">&nbspFacebook</a></p>
          </div>
          <p>
            <a class="fa fa-envelope" aria-hidden="true" href="#">&nbspTissue_culture@gmail.com</a>
          <p>
            <p><a class="fa fa-instagram">&nbsp Tissue_Culture01</a></p>
          <p>
            <a class="fa fa-phone">&nbsp+ 01 234 567 89</a></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="home.html"> Tissue_culture.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<!-- Footer -->